body{
    background-color: rgb(26, 26, 29);
}
h1{
    text-align: center;
    color:white;
    font-size:8rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.lr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
a{
    color:white;
    text-decoration: none;
    font-size:3rem;
    margin:40px;
    padding:16px;
    background-color: rgb(17, 38, 102) ;
}

a:hover {
    background-color: white;
    color: rgb(17, 38, 102) ;
}